<div class="container-fluid">
    <div class="row border border-primary m-5 p-2">
        <div class="col-md-2">
            <button type="button" (click)="navigate('films')">Films</button>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="navigate('people')">People</button>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="navigate('planets')">Planets</button>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="navigate('species')">Species</button>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="navigate('starships')">Starships</button>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="navigate('vehicles')">Vehicles</button>
        </div>
    </div>
    <div class="row m-5 p-2">
        <div class="col-md-2">
            <button type="button" (click)="return()">Home</button>
        </div>
    </div>
    <div class="row m-5 p-2" *ngIf="showSpiner">
        <div class="col-md-12 text-center">
            <span class="loader"></span>
        </div>
    </div>
    <div class="row m-5 p-2" *ngIf="isError">
        <div class="col-md-12 text-center">
            <span>Se ha producido un error</span>
        </div>
    </div>
    <div class="row border border-primary m-5 p-2" *ngIf="showData">
        <div class="col-md-12">
            <div *ngFor="let item of dataFilmResponse">
                <ul>
                    <li><b>Titulo:</b> {{ item.title }} </li>
                    <li><b>Opening:</b> {{ item.opening_crawl }} </li>
                    <li><b>Director:</b> {{ item.director }} </li>
                    <li><b>Productor:</b> {{ item.producer }} </li>
                    <li><b>Estreno:</b> {{ item.release_date | date:"dd-MM-yyyy" }} </li>
                </ul>
                <div class="text-center">
                    <button type="button" (click)="navigateFilm( item.url)">Ver más</button>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>