<div class="container-fluid">
    <div class="row border border-primary m-5 p-2">
        <div class="col-md-2">
            <button type="button" (click)="navigate('films')">Films</button>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="navigate('people')">People</button>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="navigate('planets')">Planets</button>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="navigate('species')">Species</button>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="navigate('starships')">Starships</button>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="navigate('vehicles')">Vehicles</button>
        </div>
    </div>
    <div class="row m-5 p-2">
        <div class="col-md-2">
            <button type="button" (click)="return()">Home</button>
        </div>
    </div>
    <div class="row m-5 p-2"  *ngIf="showSpiner">
        <div class="col-md-12 text-center">
            <span class="loader"></span>
        </div>
    </div>
    <div class="row m-5 p-2" *ngIf="isError">
        <div class="col-md-12 text-center">
            <span>Se ha producido un error</span>
        </div>
    </div>
    <div class="row border border-primary m-5 p-2" *ngIf="showData">
        <div class="col-md-12">
            <div *ngFor="let item of dataPlanetsResponse">
                <ul>
                    <li><b>Nombre:</b> {{ item.name }} </li>
                    <li><b>Período de rotación:</b> {{ item.rotation_period }} </li>
                    <li><b>Período orbital:</b> {{ item.orbital_period }} </li>
                    <li><b>Clima:</b> {{ item.climate }} </li>
                </ul>
                <div class="text-center">
                    <button type="button" (click)="navigatePlanet( item.url )">Ver más</button>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>