<div class="container-fluid">
    <div class="row border border-primary m-5 p-2">
        <div class="col-md-2">
            <button type="button" (click)="navigate('films')">Films</button>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="navigate('people')">People</button>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="navigate('planets')">Planets</button>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="navigate('species')">Species</button>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="navigate('starships')">Starships</button>
        </div>
        <div class="col-md-2">
            <button type="button" (click)="navigate('vehicles')">Vehicles</button>
        </div>
    </div>
    <div class="row m-5 p-2">
        <div class="col-md-2">
            <button type="button" (click)="return('vehicles')">return </button>
        </div>
    </div>
    <div class="row m-5 p-2" *ngIf="showSpiner">
        <div class="col-md-12 text-center">
            <span class="loader"></span>
        </div>
    </div>
    <div class="row m-5 p-2" *ngIf="isError">
        <div class="col-md-12 text-center">
            <span>Se ha producido un error</span>
        </div>
    </div>
    <div class="row border border-primary m-5 p-2" *ngIf="showData">
        <div class="col-md-12">
            <ul>
                <li><b>Tipo:</b> {{ dataVehicleResponse.name }} </li>
                <li><b>Modelo:</b> {{ dataVehicleResponse.model }} </li>
                <li><b>Clase:</b> {{ dataVehicleResponse.vehicle_class }} </li>
                <li><b>Coste:</b> {{ dataVehicleResponse.cost_in_credits }} </li>
                <li><b>Velocidad máxima:</b> {{ dataVehicleResponse.max_atmosphering_speed }} </li>
            </ul>
        </div>
    </div>
</div>