<div class="topnav">
    <span *ngFor="let search of oldSearchs">
        <a class="pointer" (click)="navigateOldSearchs(search.id)"> {{search.name}} </a>
    </span>
    <div class="search-container p-2">
        <form>
            <input type="text" placeholder="Buscador personajes" name="valueSearch" (input)="getVal($event.target)">
        </form>
        <span class="results" *ngIf="dataSearch.length > 0">
            <ul *ngFor="let result of dataSearch">
                <li (click)="navigate(result.name, result.url)" class="pointer">{{ result.name }}</li>
            </ul>
        </span>
    </div>
</div>